# this notebook will be mainly used for the capstone project

In [1]:
import pandas as pd
import numpy  as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# load data to dataframe

In [15]:
# load data to dataframe
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url, header=0)[0]
df.head()
#df.shape

#df = df.dropna()
#df.shape

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [34]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[ df['Borough'] != 'Not assigned']
df.head()
#df.shape

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [44]:
#df.shape
# count field neighborhood
#df1=df.groupby(['Neighborhood']).size()
#df1=df.groupby(['Neighborhood']).size().reset_index(name='counts')
#df1.sort_values('counts', ascending=False)
#df1.head()

#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
for j in range(len(df)):
    if df['Neighborhood'].iloc[j] == 'Not assigned':
        df['Neighborhood'].iloc[j]= df['Borough'].iloc[j]
        
df.head()
#df.shape

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

# Combining the neighborhoods with the same postcode into one row with the neighborhoods separated with a comma.

In [54]:
#df1=df.groupby(['Postal code']).size().reset_index(name='counts')
#df1.sort_values('counts', ascending=False)
#df1.head()
#df1.tail()

df1 = df.groupby(["Postal code", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df1.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [55]:
print("Shape: ", df1.shape)

Shape:  (103, 3)

# latitude and longitude for Postal Code

In [56]:
!wget -O Geo_file.csv https://cocl.us/Geospatial_data

--2020-05-04 18:21:36--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 158.85.108.86, 158.85.108.83, 169.48.113.194
Connecting to cocl.us (cocl.us)|158.85.108.86|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-05-04 18:21:37--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.25.197
Connecting to ibm.box.com (ibm.box.com)|107.152.25.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-05-04 18:21:37--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-05-04 18:21:38--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.26.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!KMYFAl4kpd7I0v7B3RAr2ki0RqUojby3XBTqCkak7lp8_I3XsmvvWvZ4ytWXsAobzlZaEYuXdI8TYWese0ybB40UNauEL5mpTe4x4ja1DZarqwWs6p2EnD2uavcMXUk6S7xwTvzSHNU2o6E-gdoqO1UYWabDx_c1bsKykRFoLSzcMGGaEzaGvuY5a3vW7ImevHnKdm7B74aYjuv8tj4mkSNBY23qAyWL0MInXLlZi7QKnVbCkK4MEzrkmP4m_wKbG8Vn58FZ6PDFkNd6i6LnPcu7Nx3P_dhiMU1MeA6OsRqu_OB98wfsn9xUXrlib_pGOmV3NxaLZ5ljfM_z-ly4a03nEflBHKtdkZ5j9TxLUuhQx0YX-UsueIUZcPkJ_bG9ybenlGYtYDnjV6eiFb6DFCFeAUQG-ZbXCKsBsKcqBB_a1s8fj9qaPSrTFocvIIQ2Kcb_7914aRj6GlupJsjpA6rYWTG8rSryZTC98VUwqN-h7ObWMEQXzMNyklrNa_VWTkjDUqtMq4vwRCW1lqW_y3uGisbJKl_vO6rwZ1WgYnxuczfXL7IJmWm6u0mZ3QId7VupZq1UqJUgsfnMRJdzE5KCny9O94wUlOnzfnWdL8Ytb5f3GeJsDh_7atC5eTl3IT6vWmjkVOhFv8KnsLdTtA0c5Td1RkiswhIfSMpKQdCRfYrcvCfTDXvJischPTKatscce8Ia29GugN4L3XrxhO2X19-qlBEm5mg8Jd-EisDdQotR362Iamu1LewX3nhtKZayDvt1eXitAHLBmxWc95zGBO12uUSxuWag2YWh2p7om9_6XUFkbTKH-tBZCYX6ALbc7pV-Nt6BxrhvUinXg1i2djU0TDyjOjN4vkgD9w5wrG0WZoDEn82T8h1ftxzq7oaukIT3zlwJ1IMRE_tsezdaVxxL0kFQ0LZScT96J6Rhho29q4ajijoBW_Id27BHlLxlRJxL77pDrwo5gw29Yz92Z3nJa5s6gmIjyvPAu5mnL0mZfFtiUazSibgROO_IqtK3-LXwaUzJaH9J4r3MBotT3bMGuTbsQkRKNoruaAkOtiBcwvEfe_y8LHP-jSQ2EsbFo4MIJ9VUyscIjW1Edtp9VnikI6uHD6vn23SlE8s_kSSex5ZrAVmFV6C_eDUhU_KPE91LgLLmzsPYHhCKO3hPWmuSswMbySvlcN9Uf1j-_TkTfbPPJCGoGVZLTr2lr3xQLXaazRMrsJaTjYsb1DRScBPkRJxXNLj0LuOflc3LrFqX_Zn9TSTTHmukKN_fhtYC14UjV60laXJHMrC_eCkTOxQQJmwON6-oT7khpLKuzaMICyuc87A_hiba2QqJIkAQAOiKKPjSF44VXJPoe6bu0R2NEBf-fW6daa4WwwtNJOHboSsQnknKbzD2_OtR7g56xoAoM4g4w85bag0lDx1DO2oRGE-g3WqkBEh0rF4./download [following]
--2020-05-04 18:21:39--  https://public.boxcloud.com/d/1/b1!KMYFAl4kpd7I0v7B3RAr2ki0RqUojby3XBTqCkak7lp8_I3XsmvvWvZ4ytWXsAobzlZaEYuXdI8TYWese0ybB40UNauEL5mpTe4x4ja1DZarqwWs6p2EnD2uavcMXUk6S7xwTvzSHNU2o6E-gdoqO1UYWabDx_c1bsKykRFoLSzcMGGaEzaGvuY5a3vW7ImevHnKdm7B74aYjuv8tj4mkSNBY23qAyWL0MInXLlZi7QKnVbCkK4MEzrkmP4m_wKbG8Vn58FZ6PDFkNd6i6LnPcu7Nx3P_dhiMU1MeA6OsRqu_OB98wfsn9xUXrlib_pGOmV3NxaLZ5ljfM_z-ly4a03nEflBHKtdkZ5j9TxLUuhQx0YX-UsueIUZcPkJ_bG9ybenlGYtYDnjV6eiFb6DFCFeAUQG-ZbXCKsBsKcqBB_a1s8fj9qaPSrTFocvIIQ2Kcb_7914aRj6GlupJsjpA6rYWTG8rSryZTC98VUwqN-h7ObWMEQXzMNyklrNa_VWTkjDUqtMq4vwRCW1lqW_y3uGisbJKl_vO6rwZ1WgYnxuczfXL7IJmWm6u0mZ3QId7VupZq1UqJUgsfnMRJdzE5KCny9O94wUlOnzfnWdL8Ytb5f3GeJsDh_7atC5eTl3IT6vWmjkVOhFv8KnsLdTtA0c5Td1RkiswhIfSMpKQdCRfYrcvCfTDXvJischPTKatscce8Ia29GugN4L3XrxhO2X19-qlBEm5mg8Jd-EisDdQotR362Iamu1LewX3nhtKZayDvt1eXitAHLBmxWc95zGBO12uUSxuWag2YWh2p7om9_6XUFkbTKH-tBZCYX6ALbc7pV-Nt6BxrhvUinXg1i2djU0TDyjOjN4vkgD9w5wrG0WZoDEn82T8h1ftxzq7oaukIT3zlwJ1IMRE_tsezdaVxxL0kFQ0LZScT96J6Rhho29q4ajijoBW_Id27BHlLxlRJxL77pDrwo5gw29Yz92Z3nJa5s6gmIjyvPAu5mnL0mZfFtiUazSibgROO_IqtK3-LXwaUzJaH9J4r3MBotT3bMGuTbsQkRKNoruaAkOtiBcwvEfe_y8LHP-jSQ2EsbFo4MIJ9VUyscIjW1Edtp9VnikI6uHD6vn23SlE8s_kSSex5ZrAVmFV6C_eDUhU_KPE91LgLLmzsPYHhCKO3hPWmuSswMbySvlcN9Uf1j-_TkTfbPPJCGoGVZLTr2lr3xQLXaazRMrsJaTjYsb1DRScBPkRJxXNLj0LuOflc3LrFqX_Zn9TSTTHmukKN_fhtYC14UjV60laXJHMrC_eCkTOxQQJmwON6-oT7khpLKuzaMICyuc87A_hiba2QqJIkAQAOiKKPjSF44VXJPoe6bu0R2NEBf-fW6daa4WwwtNJOHboSsQnknKbzD2_OtR7g56xoAoM4g4w85bag0lDx1DO2oRGE-g3WqkBEh0rF4./download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.25.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.25.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geo_file.csv’

100%[======================================>] 2,891       --.-K/s   in 0s

2020-05-04 18:21:39 (226 MB/s) - ‘Geo_file.csv’ saved [2891/2891]

In [57]:
df_geo = pd.read_csv('Geo_file.csv')
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

# combine two tables df1+df_geo

In [62]:
df2 = df1.copy()
df2['Latitude'] = np.nan
df2['Longitude'] = np.nan
#df2.head()

for i1 in df2.index:
    idx = df_geo['Postal Code'] == df2.loc[i1, 'Postal code']
    df2.at[idx, 'Latitude'] = df_geo.loc[idx, 'Latitude'].values
    df2.at[idx, 'Longitude'] = df_geo.loc[idx, 'Longitude'].values

    
df2.head(30)

,Postal code,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,Kennedy Park / Ionview / East Birchmount Park,43.727929,-79.262029
7,M1L,Scarborough,Golden Mile / Clairlea / Oakridge,43.711112,-79.284577
8,M1M,Scarborough,Cliffside / Cliffcrest / Scarborough Village West,43.716316,-79.239476
9,M1N,Scarborough,Birch Cliff / Cliffside West,43.692657,-79.264848
10,M1P,Scarborough,Dorset Park / Wexford Heights / Scarborough To...,43.757410,-79.273304
11,M1R,Scarborough,Wexford / Maryvale,43.750072,-79.295849
12,M1S,Scarborough,Agincourt,43.794200,-79.262029
13,M1T,Scarborough,Clarks Corners / Tam O'Shanter / Sullivan,43.781638,-79.304302
14,M1V,Scarborough,Milliken / Agincourt North / Steeles East / L'...,43.815252,-79.284577
15,M1W,Scarborough,Steeles West / L'Amoreaux West,43.799525,-79.318389
16,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
17,M2H,North York,Hillcrest Village,43.803762,-79.363452
18,M2J,North York,Fairview / Henry Farm / Oriole,43.778517,-79.346556
19,M2K,North York,Bayview Village,43.786947,-79.385975
20,M2L,North York,York Mills / Silver Hills,43.757490,-79.374714
21,M2M,North York,Willowdale / Newtonbrook,43.789053,-79.408493
22,M2N,North York,Willowdale,43.770120,-79.408493
23,M2P,North York,York Mills West,43.752758,-79.400049
24,M2R,North York,Willowdale,43.782736,-79.442259
25,M3A,North York,Parkwoods,43.753259,-79.329656
26,M3B,North York,Don Mills,43.745906,-79.352188
27,M3C,North York,Don Mills,43.725900,-79.340923
28,M3H,North York,Bathurst Manor / Wilson Heights / Downsview North,43.754328,-79.442259
29,M3J,North York,Northwood Park / York University,43.767980,-79.487262