# this notebook will be mainly used for the capstone project

In [1]:
import pandas as pd
import numpy  as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# load data to dataframe

In [15]:
# load data to dataframe
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df=pd.read_html(url, header=0)[0]
df.head()
#df.shape

#df = df.dropna()
#df.shape

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [34]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[ df['Borough'] != 'Not assigned']
df.head()
#df.shape

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [44]:
#df.shape
# count field neighborhood
#df1=df.groupby(['Neighborhood']).size()
#df1=df.groupby(['Neighborhood']).size().reset_index(name='counts')
#df1.sort_values('counts', ascending=False)
#df1.head()

#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
for j in range(len(df)):
    if df['Neighborhood'].iloc[j] == 'Not assigned':
        df['Neighborhood'].iloc[j]= df['Borough'].iloc[j]
        
df.head()
#df.shape

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

# Combining the neighborhoods with the same postcode into one row with the neighborhoods separated with a comma.

In [54]:
#df1=df.groupby(['Postal code']).size().reset_index(name='counts')
#df1.sort_values('counts', ascending=False)
#df1.head()
#df1.tail()

df1 = df.groupby(["Postal code", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df1.head()

  Postal code      Borough                              Neighborhood
0         M1B  Scarborough                           Malvern / Rouge
1         M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough       Guildwood / Morningside / West Hill
3         M1G  Scarborough                                    Woburn
4         M1H  Scarborough                                 Cedarbrae

In [55]:
print("Shape: ", df1.shape)

Shape:  (103, 3)