# this notebook for download data and save as files

In [1]:
import pandas as pd
import numpy  as np
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [2]:
data = [['Brooklyn',2582830,91.559,70.82], ['Manhattan',1628701,600.244,22.83], ['Queens', 2278906, 93.310,108.53], 
        ['Staten Island',476179,14.514,58.37],['The Bronx',1432132,42.695,42.10]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Borough', 'Population','Gross Domestic Product','Land area']) 
  
# print dataframe. 
df

         Borough  Population  Gross Domestic Product  Land area
0       Brooklyn     2582830                  91.559      70.82
1      Manhattan     1628701                 600.244      22.83
2         Queens     2278906                  93.310     108.53
3  Staten Island      476179                  14.514      58.37
4      The Bronx     1432132                  42.695      42.10

# create a geo locations

In [3]:
df['latitude']  = 000.0000000
df['longitude'] = 000.0000000
df.head(7)

,Borough,Population,Gross Domestic Product,Land area,latitude,longitude
0,Brooklyn,2582830,91.559,70.82,0.0,0.0
1,Manhattan,1628701,600.244,22.83,0.0,0.0
2,Queens,2278906,93.310,108.53,0.0,0.0
3,Staten Island,476179,14.514,58.37,0.0,0.0
4,The Bronx,1432132,42.695,42.10,0.0,0.0

In [14]:
#install libraries 
!pip install geopy    
!pip install folium   
!pip install geocoder

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/53/fc/3d1b47e8e82ea12c25203929efb1b964918a77067a874b2c7631e2ec35ec/geopy-1.21.0-py2.py3-none-any.whl (104kB)
     |████████████████████████████████| 112kB 8.2MB/s eta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.21.0
Requirement already satisfied: folium in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.5.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium) (2.23.0)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium) (1.14.0)
Requirement already satisfied: branca in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium) (0.4.0)
Requirement already satisfied: jinja2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from folium) (2.11.2)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->folium) (2.9)
Requirement already satisfied: MarkupSafe>=0.23 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from jinja2->folium) (1.1.1)
Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 6.4MB/s ta 0:00:011
Collecting click (from geocoder)
  Downloading https://files.pythonhosted.org/packages/d2/3d/fa76db83bf75c4f8d338c2fd15c8d33fdd7ad23a9b5e57eb6c5de26b430e/click-7.1.2-py2.py3-none-any.whl (82kB)
     |████████████████████████████████| 92kB 7.0MB/s eta 0:00:011
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (2.23.0)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (1.14.0)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Collecting future (from geocoder)
  Downloading https://files.pythonhosted.org/packages/45/0b/38b06fd9b92dc2b68d58b75f900e97884c45bedd2ff83203d933cf5851c9/future-0.18.2.tar.gz (829kB)
     |████████████████████████████████| 829kB 8.5MB/s eta 0:00:01
Requirement already satisfied: chardet<4,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (1.25.8)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2.9)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.2)
Building wheels for collected packages: future
  Building wheel for future (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/8b/99/a0/81daf51dcd359a9377b110a8a886b3895921802d2fc1b2397e
Successfully built future
Installing collected packages: click, ratelim, future, geocoder
Successfully installed click-7.1.2 future-0.18.2 geocoder-1.38.1 ratelim-0.1.6

In [15]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import geocoder # to get coordinates

In [17]:
for i in range(len(df1)): 
    a1 = df1.at[i,"Borough"]
    address = a1.strip()+", New York, United States"
    
    geolocator = Nominatim(user_agent="my_explorer")
    location  = geolocator.geocode(address)
    df1.at[i,"latitude"]   = location.latitude
    df1.at[i,"longitude"]  = location.longitude
    

df1.head(7)

,Borough,Population,Gross Domestic Product,Land area,latitude,longitude
0,Brooklyn,2582830,91.559,70.82,40.650104,-73.949582
1,Manhattan,1628701,600.244,22.83,40.789624,-73.959894
2,Queens,2278906,93.310,108.53,40.749824,-73.797634
3,Staten Island,476179,14.514,58.37,40.583456,-74.149605
4,The Bronx,1432132,42.695,42.10,40.846651,-73.878594

In [18]:
# save dataframe in file .csv
df1.to_csv(r'data_00.csv')
#df1.to_csv(r'data_00.csv', index=False)

In [24]:
# read dataframe from file .csv
#df2 = pd.read_csv('data_00.csv', index_col=None, header=0)
df2 = pd.read_csv('data_00.csv', index_col=[0])
df2

,Borough,Population,Gross Domestic Product,Land area,latitude,longitude
0,Brooklyn,2582830,91.559,70.82,40.650104,-73.949582
1,Manhattan,1628701,600.244,22.83,40.789624,-73.959894
2,Queens,2278906,93.310,108.53,40.749824,-73.797634
3,Staten Island,476179,14.514,58.37,40.583456,-74.149605
4,The Bronx,1432132,42.695,42.10,40.846651,-73.878594

# Before we get the data and start exploring it, let's download all the dependencies that we will need.

In [30]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.0               |             py_0          26 KB  conda-forge
    brotlipy-0.7.0             |py36h8c4c3a4_1000         346 KB  conda-forge
    chardet-3.0.4              |py36h9f0ad1d_1006         188 KB  conda-forge
    cryptography-2.9.2         |   py36h45558ae_0         613 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    pandas-1.0.3               |   py36h830a2c2_1        11.1 MB  conda-forge
    pysocks-1.7.1              |   py36h9f0ad1d_1          27 KB  conda-forge
    pytz-2020.1                |     pyh9f0ad1d_0         227 KB  conda-forge
    toolz-0.10.0               |             py_0          46 KB  conda-forge
    urllib3-1.25.9             |             py_0          92 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        13.3 MB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  attrs              conda-forge/noarch::attrs-19.3.0-py_0
  branca             conda-forge/noarch::branca-0.4.0-py_0
  brotlipy           conda-forge/linux-64::brotlipy-0.7.0-py36h8c4c3a4_1000
  chardet            conda-forge/linux-64::chardet-3.0.4-py36h9f0ad1d_1006
  cryptography       conda-forge/linux-64::cryptography-2.9.2-py36h45558ae_0
  entrypoints        conda-forge/linux-64::entrypoints-0.3-py36h9f0ad1d_1001
  folium             conda-forge/noarch::folium-0.5.0-py_0
  idna               conda-forge/noarch::idna-2.9-py_1
  importlib-metadata conda-forge/linux-64::importlib-metadata-1.6.0-py36h9f0ad1d_0
  importlib_metadata conda-forge/noarch::importlib_metadata-1.6.0-0
  jinja2             conda-forge/noarch::jinja2-2.11.2-pyh9f0ad1d_0
  jsonschema         conda-forge/linux-64::jsonschema-3.2.0-py36h9f0ad1d_1
  markupsafe         conda-forge/linux-64::markupsafe-1.1.1-py36h8c4c3a4_1
  pandas             conda-forge/linux-64::pandas-1.0.3-py36h830a2c2_1
  pyopenssl          conda-forge/noarch::pyopenssl-19.1.0-py_1
  pyrsistent         conda-forge/linux-64::pyrsistent-0.16.0-py36h8c4c3a4_0
  pysocks            conda-forge/linux-64::pysocks-1.7.1-py36h9f0ad1d_1
  pytz               conda-forge/noarch::pytz-2020.1-pyh9f0ad1d_0
  requests           conda-forge/noarch::requests-2.23.0-pyh8c360ce_2
  toolz              conda-forge/noarch::toolz-0.10.0-py_0
  urllib3            conda-forge/noarch::urllib3-1.25.9-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1
  zipp               conda-forge/noarch::zipp-3.1.0-py_0



Downloading and Extracting Packages
pysocks-1.7.1        | 27 KB     | ##################################### | 100%
toolz-0.10.0         | 46 KB     | ##################################### | 100%
pytz-2020.1          | 227 KB    | ##################################### | 100%
chardet-3.0.4        | 188 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
urllib3-1.25.9       | 92 KB     | ##################################### | 100%
cryptography-2.9.2   | 613 KB    | ##################################### | 100%
brotlipy-0.7.0       | 346 KB    | ##################################### | 100%
pandas-1.0.3         | 11.1 MB   | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
branca-0.4.0         | 26 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

In [31]:
!wget -q -O 'newyork_data.json' https://cocl.us/new_york_dataset
print('Data downloaded!')

Data downloaded!

In [39]:
with open('newyork_data.json') as json_data:
    newyork_data = json.load(json_data)
    
#newyork_data

In [40]:
neighborhoods_data = newyork_data['features']
neighborhoods_data[0]

{'type': 'Feature',
 'id': 'nyu_2451_34572.1',
 'geometry': {'type': 'Point',
  'coordinates': [-73.84720052054902, 40.89470517661]},
 'geometry_name': 'geom',
 'properties': {'name': 'Wakefield',
  'stacked': 1,
  'annoline1': 'Wakefield',
  'annoline2': None,
  'annoline3': None,
  'annoangle': 0.0,
  'borough': 'Bronx',
  'bbox': [-73.84720052054902,
   40.89470517661,
   -73.84720052054902,
   40.89470517661]}}

# Tranform the data into a pandas dataframe and save in file

In [41]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

# Then let's loop through the data and fill the dataframe one row at a time.
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

In [42]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(neighborhoods['Borough'].unique()),
        neighborhoods.shape[0]
    )
)

The dataframe has 5 boroughs and 306 neighborhoods.

In [83]:
# add colom restaurants
neighborhoods['restaurants'] = 00000000
neighborhoods.head(7)

     Borough Neighborhood   Latitude  Longitude  restaurants
0      Bronx    Wakefield  40.894705 -73.847201            0
1      Bronx   Co-op City  40.874294 -73.829939            0
2      Bronx  Eastchester  40.887556 -73.827806            0
3      Bronx    Fieldston  40.895437 -73.905643            0
4      Bronx    Riverdale  40.890834 -73.912585            0
5      Bronx  Kingsbridge  40.881687 -73.902818            0
6  Manhattan  Marble Hill  40.876551 -73.910660            0

In [84]:
# save dataframe in file .csv
#neighborhoods.to_csv(r'data_11.csv', index=False)
neighborhoods.to_csv(r'data_11.csv')

In [85]:

# read dataframe from file .csv
neighborhoods = pd.read_csv('data_11.csv', index_col=[0])
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude  restaurants
0   Bronx    Wakefield  40.894705 -73.847201            0
1   Bronx   Co-op City  40.874294 -73.829939            0
2   Bronx  Eastchester  40.887556 -73.827806            0
3   Bronx    Fieldston  40.895437 -73.905643            0
4   Bronx    Riverdale  40.890834 -73.912585            0

# WORK WITH MANHATTAN

In [47]:
manhattan_data = neighborhoods[neighborhoods['Borough'] == 'Manhattan'].reset_index(drop=True)
manhattan_data.head()

     Borough        Neighborhood   Latitude  Longitude
0  Manhattan         Marble Hill  40.876551 -73.910660
1  Manhattan           Chinatown  40.715618 -73.994279
2  Manhattan  Washington Heights  40.851903 -73.936900
3  Manhattan              Inwood  40.867684 -73.921210
4  Manhattan    Hamilton Heights  40.823604 -73.949688

# Define Foursquare Credentials and Version

In [1]:
CLIENT_ID = 'EOXUVNWN5FUTXNKHVBOCX3DRU' # your Foursquare ID
CLIENT_SECRET = 'RIJYIWEUHYCHN4JY35QSL4DM1JZN' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: EOXUVNWN5FUTXNKHVBOCX3DRU
CLIENT_SECRET:RIJYIWEUHYCHN4JY35QSL4DM1JZN

# Let's explore the first Borough in our dataframe.

In [49]:
neighborhood_latitude = manhattan_data.loc[0, 'Latitude'] # neighborhood latitude value
neighborhood_longitude = manhattan_data.loc[0, 'Longitude'] # neighborhood longitude value

neighborhood_name = manhattan_data.loc[0, 'Neighborhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighborhood_name, 
                                                               neighborhood_latitude, 
                                                               neighborhood_longitude))

Latitude and longitude values of Marble Hill are 40.87655077879964, -73.91065965862981.

In [50]:
LIMIT  = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius
# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighborhood_latitude, 
    neighborhood_longitude, 
    radius, 
    LIMIT)

url

'https://api.foursquare.com/v2/venues/explore?&client_id=BPRDGUIQFF4E2EOXUVNWN5FUTXNKKKMV1YYTJSHVBOCX3DRU&client_secret=2ESSUXJSR4RIJYIWEUHYCHN4JTTFV0ECVSJY35QSL4DM1JZN&v=20180605&ll=40.87655077879964,-73.91065965862981&radius=500&limit=100'

# Send the GET request and examine the resutls

In [52]:
results = requests.get(url).json()
#results

In [53]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [61]:
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
#filtered_columns = ['venue.Neighborhood','venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
filtered_columns = ['venue.location.city','venue.location.postalCode','venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues =nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head( 20)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  This is separate from the ipykernel package so we can avoid doing imports until

,city,postalCode,name,categories,lat,lng
0,New York,10463,Arturo's,Pizza Place,40.874412,-73.910271
1,Bronx,10463,Bikram Yoga,Yoga Studio,40.876844,-73.906204
2,Bronx,10463,Tibbett Diner,Diner,40.880404,-73.908937
3,Bronx,10463,Starbucks,Coffee Shop,40.877531,-73.905582
4,Bronx,10463,Dunkin',Donut Shop,40.877136,-73.906666
5,Bronx,10463,Rite Aid,Pharmacy,40.875467,-73.908906
6,Bronx,10463,TCR The Club of Riverdale,Tennis Stadium,40.878628,-73.914568
7,Bronx,10463,Land & Sea Restaurant,Seafood Restaurant,40.877885,-73.905873
8,New York,10463,Starbucks,Coffee Shop,40.873755,-73.908613
9,Bronx,10463,Astral Fitness & Wellness Center,Gym,40.876705,-73.906372
10,Bronx,10463,Blink Fitness,Gym,40.877271,-73.905595
11,Bronx,10463,Vitamin Shoppe,Supplement Shop,40.877160,-73.905632
12,Bronx,10463,Parrilla Latina,Steakhouse,40.877473,-73.906073
13,Bronx,NaN,T.J. Maxx,Department Store,40.877232,-73.905042
14,Bronx,10463,Boston Market,American Restaurant,40.877430,-73.905412
15,Bronx,10463,Subway Sandwiches,Sandwich Place,40.874667,-73.909586
16,Bronx,10463,Baskin-Robbins,Ice Cream Shop,40.877149,-73.906658
17,Bronx,10463,Lot Less Closeouts,Discount Store,40.878270,-73.905265
18,Bronx,10463,GameStop,Video Game Store,40.874267,-73.909342
19,Bronx,10463,TD Bank,Bank,40.879496,-73.909286

In [63]:
nearby_venues.shape
#print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

(25, 6)

# count restaurants in categories

In [82]:

# function that count RESTAURANT
def count_0( data1):
    x = 0
    for i in range(len( data1)):
        y = data1.at[i,"categories"].upper()
        if "RESTAURANT" in y:
            x = x+1
    return x
    
count_0( nearby_venues)

2

# Let's create a function to repeat the same process to all the neighborhoods

In [105]:
from pandas import json_normalize # tranform JSON file into a pandas dataframe

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighborhood', 
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [106]:
all_venues = getNearbyVenues(names=neighborhoods['Neighborhood'],
                                   latitudes=neighborhoods['Latitude'],
                                   longitudes=neighborhoods['Longitude']
                                  )

Wakefield
Co-op City
Eastchester
Fieldston
Riverdale
Kingsbridge
Marble Hill
Woodlawn
Norwood
Williamsbridge
Baychester
Pelham Parkway
City Island
Bedford Park
University Heights
Morris Heights
Fordham
East Tremont
West Farms
High  Bridge
Melrose
Mott Haven
Port Morris
Longwood
Hunts Point
Morrisania
Soundview
Clason Point
Throgs Neck
Country Club
Parkchester
Westchester Square
Van Nest
Morris Park
Belmont
Spuyten Duyvil
North Riverdale
Pelham Bay
Schuylerville
Edgewater Park
Castle Hill
Olinville
Pelham Gardens
Concourse
Unionport
Edenwald
Bay Ridge
Bensonhurst
Sunset Park
Greenpoint
Gravesend
Brighton Beach
Sheepshead Bay
Manhattan Terrace
Flatbush
Crown Heights
East Flatbush
Kensington
Windsor Terrace
Prospect Heights
Brownsville
Williamsburg
Bushwick
Bedford Stuyvesant
Brooklyn Heights
Cobble Hill
Carroll Gardens
Red Hook
Gowanus
Fort Greene
Park Slope
Cypress Hills
East New York
Starrett City
Canarsie
Flatlands
Mill Island
Manhattan Beach
Coney Island
Bath Beach
Borough Park
Dyker Heights
Gerritsen Beach
Marine Park
Clinton Hill
Sea Gate
Downtown
Boerum Hill
Prospect Lefferts Gardens
Ocean Hill
City Line
Bergen Beach
Midwood
Prospect Park South
Georgetown
East Williamsburg
North Side
South Side
Ocean Parkway
Fort Hamilton
Chinatown
Washington Heights
Inwood
Hamilton Heights
Manhattanville
Central Harlem
East Harlem
Upper East Side
Yorkville
Lenox Hill
Roosevelt Island
Upper West Side
Lincoln Square
Clinton
Midtown
Murray Hill
Chelsea
Greenwich Village
East Village
Lower East Side
Tribeca
Little Italy
Soho
West Village
Manhattan Valley
Morningside Heights
Gramercy
Battery Park City
Financial District
Astoria
Woodside
Jackson Heights
Elmhurst
Howard Beach
Corona
Forest Hills
Kew Gardens
Richmond Hill
Flushing
Long Island City
Sunnyside
East Elmhurst
Maspeth
Ridgewood
Glendale
Rego Park
Woodhaven
Ozone Park
South Ozone Park
College Point
Whitestone
Bayside
Auburndale
Little Neck
Douglaston
Glen Oaks
Bellerose
Kew Gardens Hills
Fresh Meadows
Briarwood
Jamaica Center
Oakland Gardens
Queens Village
Hollis
South Jamaica
St. Albans
Rochdale
Springfield Gardens
Cambria Heights
Rosedale
Far Rockaway
Broad Channel
Breezy Point
Steinway
Beechhurst
Bay Terrace
Edgemere
Arverne
Rockaway Beach
Neponsit
Murray Hill
Floral Park
Holliswood
Jamaica Estates
Queensboro Hill
Hillcrest
Ravenswood
Lindenwood
Laurelton
Lefrak City
Belle Harbor
Rockaway Park
Somerville
Brookville
Bellaire
North Corona
Forest Hills Gardens
St. George
New Brighton
Stapleton
Rosebank
West Brighton
Grymes Hill
Todt Hill
South Beach
Port Richmond
Mariner's Harbor
Port Ivory
Castleton Corners
New Springville
Travis
New Dorp
Oakwood
Great Kills
Eltingville
Annadale
Woodrow
Tottenville
Tompkinsville
Silver Lake
Sunnyside
Ditmas Park
Wingate
Rugby
Park Hill
Westerleigh
Graniteville
Arlington
Arrochar
Grasmere
Old Town
Dongan Hills
Midland Beach
Grant City
New Dorp Beach
Bay Terrace
Huguenot
Pleasant Plains
Butler Manor
Charleston
Rossville
Arden Heights
Greenridge
Heartland Village
Chelsea
Bloomfield
Bulls Head
Carnegie Hill
Noho
Civic Center
Midtown South
Richmond Town
Shore Acres
Clifton
Concord
Emerson Hill
Randall Manor
Howland Hook
Elm Park
Remsen Village
New Lots
Paerdegat Basin
Mill Basin
Jamaica Hills
Utopia
Pomonok
Astoria Heights
Claremont Village
Concourse Village
Mount Eden
Mount Hope
Sutton Place
Hunters Point
Turtle Bay
Tudor City
Stuyvesant Town
Flatiron
Sunnyside Gardens
Blissville
Fulton Ferry
Vinegar Hill
Weeksville
Broadway Junction
Dumbo
Manor Heights
Willowbrook
Sandy Ground
Egbertville
Roxbury
Homecrest
Middle Village
Prince's Bay
Lighthouse Hill
Richmond Valley
Malba
Highland Park
Madison
Bronxdale
Allerton
Kingsbridge Heights
Erasmus
Hudson Yards
Hammels
Bayswater
Queensbridge
Fox Hills

In [108]:
print(all_venues.shape)
all_venues.head()

(9754, 7)

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Wakefield,40.894705,-73.847201,Lollipops Gelato,40.894123,-73.845892,Dessert Shop
1,Wakefield,40.894705,-73.847201,Carvel Ice Cream,40.890487,-73.848568,Ice Cream Shop
2,Wakefield,40.894705,-73.847201,Walgreens,40.896528,-73.844700,Pharmacy
3,Wakefield,40.894705,-73.847201,Rite Aid,40.896649,-73.844846,Pharmacy
4,Wakefield,40.894705,-73.847201,Dunkin',40.890459,-73.849089,Donut Shop

In [109]:
# save dataframe in file .csv
#all_venues.to_csv(r'data_22.csv', index=False)
all_venues.to_csv(r'data_22.csv')

In [110]:
# read dataframe from file .csv
all_venues = pd.read_csv('data_22.csv', index_col=[0])
all_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Wakefield,40.894705,-73.847201,Lollipops Gelato,40.894123,-73.845892,Dessert Shop
1,Wakefield,40.894705,-73.847201,Carvel Ice Cream,40.890487,-73.848568,Ice Cream Shop
2,Wakefield,40.894705,-73.847201,Walgreens,40.896528,-73.844700,Pharmacy
3,Wakefield,40.894705,-73.847201,Rite Aid,40.896649,-73.844846,Pharmacy
4,Wakefield,40.894705,-73.847201,Dunkin',40.890459,-73.849089,Donut Shop

# drop all rows not RESTAURANT

In [111]:
all_venues['restaurants'] = 0
all_venues.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category,restaurants
0,Wakefield,40.894705,-73.847201,Lollipops Gelato,40.894123,-73.845892,Dessert Shop,0
1,Wakefield,40.894705,-73.847201,Carvel Ice Cream,40.890487,-73.848568,Ice Cream Shop,0
2,Wakefield,40.894705,-73.847201,Walgreens,40.896528,-73.844700,Pharmacy,0
3,Wakefield,40.894705,-73.847201,Rite Aid,40.896649,-73.844846,Pharmacy,0
4,Wakefield,40.894705,-73.847201,Dunkin',40.890459,-73.849089,Donut Shop,0

In [115]:
for i in range(len( all_venues)):
    y = all_venues.at[i,"Venue Category"].upper()
    if "RESTAURANT" in y:
        all_venues.at[i,"restaurants"] = 1
    
res_venues = all_venues.drop(all_venues[all_venues.restaurants < 1].index)
res_venues = res_venues.reset_index(drop=True)
#res_venues.head()
res_venues.shape

(2362, 8)

In [118]:
re0_venues = res_venues.groupby(['Neighborhood']).size().reset_index(name='counts')
re0_venues.head()
#re0_venues.shape

  Neighborhood  counts
0     Allerton       3
1     Annadale       2
2    Arlington       1
3     Arrochar       5
4      Arverne       1

# combine re0_venues with neighborhoods

In [121]:
neighborhoods.restaurants = 0
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude  restaurants
0   Bronx    Wakefield  40.894705 -73.847201            0
1   Bronx   Co-op City  40.874294 -73.829939            0
2   Bronx  Eastchester  40.887556 -73.827806            0
3   Bronx    Fieldston  40.895437 -73.905643            0
4   Bronx    Riverdale  40.890834 -73.912585            0

In [134]:
res_neighborhoods = neighborhoods.copy()
res_neighborhoods['restaurants'] = res_neighborhoods['Neighborhood'].map(re0_venues.set_index('Neighborhood')['counts'])
res_neighborhoods['restaurants'].fillna(0, inplace=True)
res_neighborhoods['restaurants'] = res_neighborhoods['restaurants'].astype(int)
res_neighborhoods.head(20)

      Borough        Neighborhood   Latitude  Longitude  restaurants
0       Bronx           Wakefield  40.894705 -73.847201            0
1       Bronx          Co-op City  40.874294 -73.829939            3
2       Bronx         Eastchester  40.887556 -73.827806            6
3       Bronx           Fieldston  40.895437 -73.905643            0
4       Bronx           Riverdale  40.890834 -73.912585            0
5       Bronx         Kingsbridge  40.881687 -73.902818           14
6   Manhattan         Marble Hill  40.876551 -73.910660            2
7       Bronx            Woodlawn  40.898273 -73.867315            2
8       Bronx             Norwood  40.877224 -73.879391            7
9       Bronx      Williamsbridge  40.881039 -73.857446            1
10      Bronx          Baychester  40.866858 -73.835798            4
11      Bronx      Pelham Parkway  40.857413 -73.854756            6
12      Bronx         City Island  40.847247 -73.786488            6
13      Bronx        Bedford Park  40.870185 -73.885512            8
14      Bronx  University Heights  40.855727 -73.910416            4
15      Bronx      Morris Heights  40.847898 -73.919672            2
16      Bronx             Fordham  40.860997 -73.896427           16
17      Bronx        East Tremont  40.842696 -73.887356            3
18      Bronx          West Farms  40.839475 -73.877745            1
19      Bronx        High  Bridge  40.836623 -73.926102            6

In [135]:
# save dataframe in file .csv
#res_neighborhoods.to_csv(r'data_33.csv', index=False)
res_neighborhoods.to_csv(r'data_33.csv')

In [136]:
# read dataframe from file .csv
res_neighborhoods = pd.read_csv('data_33.csv', index_col=[0])
res_neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude  restaurants
0   Bronx    Wakefield  40.894705 -73.847201            0
1   Bronx   Co-op City  40.874294 -73.829939            3
2   Bronx  Eastchester  40.887556 -73.827806            6
3   Bronx    Fieldston  40.895437 -73.905643            0
4   Bronx    Riverdale  40.890834 -73.912585            0

In [3]:
import pandas as pd
import numpy  as np
print("Hello Capstone Project Course!")

#res_neighborhoods.shape
# read dataframe from file .csv
res_neighborhoods = pd.read_csv('data_33.csv', index_col=[0])
res_neighborhoods.head()

Hello Capstone Project Course!

  Borough Neighborhood   Latitude  Longitude  restaurants
0   Bronx    Wakefield  40.894705 -73.847201            0
1   Bronx   Co-op City  40.874294 -73.829939            3
2   Bronx  Eastchester  40.887556 -73.827806            6
3   Bronx    Fieldston  40.895437 -73.905643            0
4   Bronx    Riverdale  40.890834 -73.912585            0

In [4]:
# read dataframe from file .csv
#df2 = pd.read_csv('data_00.csv', index_col=None, header=0)
df2 = pd.read_csv('data_00.csv', index_col=[0])
df2

,Borough,Population,Gross Domestic Product,Land area,latitude,longitude
0,Brooklyn,2582830,91.559,70.82,40.650104,-73.949582
1,Manhattan,1628701,600.244,22.83,40.789624,-73.959894
2,Queens,2278906,93.310,108.53,40.749824,-73.797634
3,Staten Island,476179,14.514,58.37,40.583456,-74.149605
4,The Bronx,1432132,42.695,42.10,40.846651,-73.878594

In [6]:
re1_neighborhoods = res_neighborhoods.copy()
re1_neighborhoods['Gross Domestic Product'] = 000000.000
re1_neighborhoods['Population'] = 000000000
re1_neighborhoods.head()
#re1_neighborhoods.shape

,Borough,Neighborhood,Latitude,Longitude,restaurants,Gross Domestic Product,Population
0,Bronx,Wakefield,40.894705,-73.847201,0,0.0,0
1,Bronx,Co-op City,40.874294,-73.829939,3,0.0,0
2,Bronx,Eastchester,40.887556,-73.827806,6,0.0,0
3,Bronx,Fieldston,40.895437,-73.905643,0,0.0,0
4,Bronx,Riverdale,40.890834,-73.912585,0,0.0,0

# combine re1_neighborhoods with df2

In [12]:
df2.at[4,"Borough"] = re1_neighborhoods.at[0,"Borough"]


re1_neighborhoods['Gross Domestic Product'] = re1_neighborhoods['Borough'].map(df2.set_index('Borough')['Gross Domestic Product'])
re1_neighborhoods['Neighborhood'].fillna(0, inplace=True)

re1_neighborhoods['Population'] = re1_neighborhoods['Borough'].map(df2.set_index('Borough')['Population'])
re1_neighborhoods['Neighborhood'].fillna(0, inplace=True)
#re1_neighborhoods.head(20)

# calculated new field Rating
re1_neighborhoods['Rating'] = 000000.000

re1_neighborhoods.head(20)

,Borough,Neighborhood,Latitude,Longitude,restaurants,Gross Domestic Product,Population,Rating
0,Bronx,Wakefield,40.894705,-73.847201,0,42.695,1432132,0.0
1,Bronx,Co-op City,40.874294,-73.829939,3,42.695,1432132,0.0
2,Bronx,Eastchester,40.887556,-73.827806,6,42.695,1432132,0.0
3,Bronx,Fieldston,40.895437,-73.905643,0,42.695,1432132,0.0
4,Bronx,Riverdale,40.890834,-73.912585,0,42.695,1432132,0.0
5,Bronx,Kingsbridge,40.881687,-73.902818,14,42.695,1432132,0.0
6,Manhattan,Marble Hill,40.876551,-73.910660,2,600.244,1628701,0.0
7,Bronx,Woodlawn,40.898273,-73.867315,2,42.695,1432132,0.0
8,Bronx,Norwood,40.877224,-73.879391,7,42.695,1432132,0.0
9,Bronx,Williamsbridge,40.881039,-73.857446,1,42.695,1432132,0.0
10,Bronx,Baychester,40.866858,-73.835798,4,42.695,1432132,0.0
11,Bronx,Pelham Parkway,40.857413,-73.854756,6,42.695,1432132,0.0
12,Bronx,City Island,40.847247,-73.786488,6,42.695,1432132,0.0
13,Bronx,Bedford Park,40.870185,-73.885512,8,42.695,1432132,0.0
14,Bronx,University Heights,40.855727,-73.910416,4,42.695,1432132,0.0
15,Bronx,Morris Heights,40.847898,-73.919672,2,42.695,1432132,0.0
16,Bronx,Fordham,40.860997,-73.896427,16,42.695,1432132,0.0
17,Bronx,East Tremont,40.842696,-73.887356,3,42.695,1432132,0.0
18,Bronx,West Farms,40.839475,-73.877745,1,42.695,1432132,0.0
19,Bronx,High Bridge,40.836623,-73.926102,6,42.695,1432132,0.0

# calculated new field Rating

In [21]:
sred0 = re1_neighborhoods["restaurants"].mean()
#sred0

re1_neighborhoods['Rating'] = ( re1_neighborhoods['Gross Domestic Product'] * re1_neighborhoods['Population'] ) /(re1_neighborhoods['restaurants'] +sred0)
re1_neighborhoods['Rating'] = re1_neighborhoods['Rating'].astype(int)

re2_neighborhoods = re1_neighborhoods.sort_values(by='Rating', ascending=False).reset_index()

re2_neighborhoods.head( 20)
#re1_neighborhoods.shape

,index,Borough,Neighborhood,Latitude,Longitude,restaurants,Gross Domestic Product,Population,Rating
0,275,Manhattan,Stuyvesant Town,40.731000,-73.974052,1,600.244,1628701,108466681
1,6,Manhattan,Marble Hill,40.876551,-73.910660,2,600.244,1628701,97634173
2,110,Manhattan,Roosevelt Island,40.762160,-73.949168,3,600.244,1628701,88768875
3,127,Manhattan,Battery Park City,40.711932,-74.016869,3,600.244,1628701,88768875
4,301,Manhattan,Hudson Yards,40.756658,-74.000111,9,600.244,1628701,57462756
5,125,Manhattan,Morningside Heights,40.808000,-73.963896,10,600.244,1628701,54272697
6,126,Manhattan,Gramercy,40.737210,-73.981376,11,600.244,1628701,51418203
7,112,Manhattan,Lincoln Square,40.773529,-73.985338,13,600.244,1628701,46524278
8,119,Manhattan,Lower East Side,40.717807,-73.980890,13,600.244,1628701,46524278
9,124,Manhattan,Manhattan Valley,40.797307,-73.964286,14,600.244,1628701,44410794
10,120,Manhattan,Tribeca,40.721522,-74.010683,15,600.244,1628701,42480986
11,105,Manhattan,Central Harlem,40.815976,-73.943211,15,600.244,1628701,42480986
12,106,Manhattan,East Harlem,40.792249,-73.944182,15,600.244,1628701,42480986
13,276,Manhattan,Flatiron,40.739673,-73.990947,16,600.244,1628701,40711909
14,113,Manhattan,Clinton,40.759101,-73.996119,17,600.244,1628701,39084283
15,102,Manhattan,Inwood,40.867684,-73.921210,17,600.244,1628701,39084283
16,103,Manhattan,Hamilton Heights,40.823604,-73.949688,17,600.244,1628701,39084283
17,104,Manhattan,Manhattanville,40.816934,-73.957385,17,600.244,1628701,39084283
18,128,Manhattan,Financial District,40.707107,-74.010665,18,600.244,1628701,37581797
19,116,Manhattan,Chelsea,40.744035,-74.003116,19,600.244,1628701,36190552

### Before we get the data and start exploring it, let's download all the dependencies that we will need.

In [25]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda/envs/python

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    altair-4.1.0               |             py_1         614 KB  conda-forge
    branca-0.4.0               |             py_0          26 KB  conda-forge
    brotlipy-0.7.0             |py36h8c4c3a4_1000         346 KB  conda-forge
    chardet-3.0.4              |py36h9f0ad1d_1006         188 KB  conda-forge
    cryptography-2.9.2         |   py36h45558ae_0         613 KB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    pandas-1.0.3               |   py36h830a2c2_1        11.1 MB  conda-forge
    pysocks-1.7.1              |   py36h9f0ad1d_1          27 KB  conda-forge
    pytz-2020.1                |     pyh9f0ad1d_0         227 KB  conda-forge
    toolz-0.10.0               |             py_0          46 KB  conda-forge
    urllib3-1.25.9             |             py_0          92 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    ------------------------------------------------------------
                                           Total:        13.3 MB

The following NEW packages will be INSTALLED:

  altair             conda-forge/noarch::altair-4.1.0-py_1
  attrs              conda-forge/noarch::attrs-19.3.0-py_0
  branca             conda-forge/noarch::branca-0.4.0-py_0
  brotlipy           conda-forge/linux-64::brotlipy-0.7.0-py36h8c4c3a4_1000
  chardet            conda-forge/linux-64::chardet-3.0.4-py36h9f0ad1d_1006
  cryptography       conda-forge/linux-64::cryptography-2.9.2-py36h45558ae_0
  entrypoints        conda-forge/linux-64::entrypoints-0.3-py36h9f0ad1d_1001
  folium             conda-forge/noarch::folium-0.5.0-py_0
  idna               conda-forge/noarch::idna-2.9-py_1
  importlib-metadata conda-forge/linux-64::importlib-metadata-1.6.0-py36h9f0ad1d_0
  importlib_metadata conda-forge/noarch::importlib_metadata-1.6.0-0
  jinja2             conda-forge/noarch::jinja2-2.11.2-pyh9f0ad1d_0
  jsonschema         conda-forge/linux-64::jsonschema-3.2.0-py36h9f0ad1d_1
  markupsafe         conda-forge/linux-64::markupsafe-1.1.1-py36h8c4c3a4_1
  pandas             conda-forge/linux-64::pandas-1.0.3-py36h830a2c2_1
  pyopenssl          conda-forge/noarch::pyopenssl-19.1.0-py_1
  pyrsistent         conda-forge/linux-64::pyrsistent-0.16.0-py36h8c4c3a4_0
  pysocks            conda-forge/linux-64::pysocks-1.7.1-py36h9f0ad1d_1
  pytz               conda-forge/noarch::pytz-2020.1-pyh9f0ad1d_0
  requests           conda-forge/noarch::requests-2.23.0-pyh8c360ce_2
  toolz              conda-forge/noarch::toolz-0.10.0-py_0
  urllib3            conda-forge/noarch::urllib3-1.25.9-py_0
  vincent            conda-forge/noarch::vincent-0.4.4-py_1
  zipp               conda-forge/noarch::zipp-3.1.0-py_0



Downloading and Extracting Packages
pysocks-1.7.1        | 27 KB     | ##################################### | 100%
toolz-0.10.0         | 46 KB     | ##################################### | 100%
pytz-2020.1          | 227 KB    | ##################################### | 100%
chardet-3.0.4        | 188 KB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
urllib3-1.25.9       | 92 KB     | ##################################### | 100%
cryptography-2.9.2   | 613 KB    | ##################################### | 100%
brotlipy-0.7.0       | 346 KB    | ##################################### | 100%
pandas-1.0.3         | 11.1 MB   | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
branca-0.4.0         | 26 KB     | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Libraries imported.

# FINALLY. SHOW ON THE MAP

In [27]:
# Let's get the geographical coordinates of Manhattan.
address = 'Manhattan, NY'

geolocator = Nominatim(user_agent="ny_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Manhattan are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Manhattan are 40.7896239, -73.9598939.

In [28]:
manhattan_data = re2_neighborhoods[0:6]
manhattan_data.head()

,index,Borough,Neighborhood,Latitude,Longitude,restaurants,Gross Domestic Product,Population,Rating
0,275,Manhattan,Stuyvesant Town,40.731000,-73.974052,1,600.244,1628701,108466681
1,6,Manhattan,Marble Hill,40.876551,-73.910660,2,600.244,1628701,97634173
2,110,Manhattan,Roosevelt Island,40.762160,-73.949168,3,600.244,1628701,88768875
3,127,Manhattan,Battery Park City,40.711932,-74.016869,3,600.244,1628701,88768875
4,301,Manhattan,Hudson Yards,40.756658,-74.000111,9,600.244,1628701,57462756

In [29]:
# create map of Manhattan using latitude and longitude values
map_manhattan = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(manhattan_data['Latitude'], manhattan_data['Longitude'], manhattan_data['Neighborhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_manhattan)  
    
map_manhattan